[submodule "LSTM_RNN_Tutorials_with_Demo"]
	path = LSTM_RNN_Tutorials_with_Demo
	url = https://github.com/omerbsezer/LSTM_RNN_Tutorials_with_Demo.git
[submodule "Tools"]
	path = Tools
	url = git@github.com:Hana-ame/Tools.git
[submodule "pytorch_tutorial/Tools"]
	path = pytorch_tutorial/Tools
	url = git@github.com:Hana-ame/Tools.git
[submodule "LLMs-from-scratch"]
	path = LLMs-from-scratch
	url = https://github.com/rasbt/LLMs-from-scratch.git
[submodule "Diffusion-Models-pytorch"]
	path = Diffusion-Models-pytorch
	url = https://github.com/dome272/Diffusion-Models-pytorch.git
[submodule "denoising-diffusion-pytorch"]
	path = denoising-diffusion-pytorch
	url = https://github.com/lucidrains/denoising-diffusion-pytorch.git
